[submodule "dotfiler-main"]
	path = dotfiler-main
	url = git@github.com:rezonanc-oxid/dotfiler-main.git
[submodule "dotfiler-vim"]
	path = dotfiler-vim
	url = git@github.com:rezonanc-oxid/dotfiler-vim.git
[submodule "dotfiler-git"]
	path = dotfiler-git
	url = git@github.com:rezonanc-oxid/dotfiler-git.git
[submodule "dotfiler-alfred"]
	path = dotfiler-alfred
	url = git@github.com:rezonanc-oxid/dotfiler-alfred.git
